#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Begining Of my own work */
body {
  background-color: #0e0221;
}
.heroText{
  color: #ffb54c;
}
.chatInterface {
  /* border: .1rem solid blue; */
  max-height: 750px;
  width: 650px;
  padding: 20px;
  background-color: #2a2735;
  border-radius: 8px;
}
.chatHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a478ff;
  color: white;
  padding: .5rem 4rem .5rem 4rem;
  border-radius: 10px;
  height: 50px;
}
.chatIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  /* font-size: 1.5rem; */
}

.chatOutput {
  /* border: .1rem solid green; */
  height: 450px;
  max-width: 650px;
  margin: 0;
  text-align: left;
  overflow-y: auto;
  padding: 25px 22px;
  scrollbar-width: thin;
  scrollbar-color: transparent;
  overflow-wrap: break-word;
}
.user-message {
  background-color: #ffb54c;
  max-width: 300px;
  min-width: 150px;
  /* min-height: .1rem; */
  padding: 1rem;
  justify-self: center;
  padding: .1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  color: #0e0221;
}
.span {
  background-color: #888;
}
.chatInput {
  border: .1rem solid #0e0221; 
  height: 50px;
  min-width: 500px;
  max-width: 650px;
  margin: 0;
  padding: 1rem;
  border-radius: 32px;
  background-color: transparent;
  margin-right: 1rem;
  color: #ffb54c;
  font-size: 1rem;
}
.chatInput:hover {
  border: .1rem solid #ffb54c;
}
.chatInput:focus {
  outline: .1rem solid #ffb54c;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
 background-color: #ffb54c;
 border-radius: 45%; 
 height: 60px;
 width: 60px;
 color: #0e0221;
}